.login {
    background-color: rgba(212, 237, 218, 255);
}

/* Background with linear gradient */
.login-container {
    background: linear-gradient(135deg, #28a745, #85e085);
}

/* Login box styling */
.login-box {
    background-color: #ffffff;
    max-width: 400px;
    width: 100%;
    border-radius: 2%;
    transition: transform 0.3s ease;
}

.login-box:hover {
    transform: translateY(-5px);
}

.primary {
    background-color: #1c2765 !important;
}



.secondary {
    background-color: #fcb040;
}

.secondary:hover {
    background-color: #e9ab4e !important;
    border-color: #e9ab4e !important;
}


.color-white {
    color: #ffffff !important;
}

.page-header {
    color: #5d71a6;
    font-size: 22px
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #1c2765;
    color: #ffffff;
    border: none !important;
}

.table th,
.table td {
    text-align: left;
    vertical-align: middle;
}

.filter-btn {
    border-color: #1c3665 !important;
    color: #1c3665;
}

.filter-btn:hover {
    background-color: #1c3665 !important;
    color: #ffffff;
}

.text-align {
    text-align: center;
}

.FaRegTrashCan {
    font-size: 20px;
    cursor: pointer;
    color: red;
}

.FaHistory {
    font-Size: 20px;
    color: #007bff;
    cursor: pointer !important
}

.FaEye {
    font-size: 20px;
    cursor: pointer;
    color: #0d6efd
}

.FaFileMedical {
    font-size: 20px;
    cursor: pointer;
    color: #dc3545
}

.FaPrint {
    font-size: 20px;
    cursor: pointer;
    color: #333
}

.FaFileInvoiceDollar {
    font-size: 20px;
    cursor: pointer;
    color: #28a745
}

.FaPenToSquare {
    font-size: 20px;
    cursor: pointer;
    color: #6c757d
}

.input-text-color {
    color: #31374a !important;
    font-size: 0.8rem !important;
    font-weight: 600 !important;
    line-height: 1.49 !important;
}

.patient-error {
    font-size: small;
    color: #ff6666;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.attachment-badge {
    font-size: 8px;
    padding: 2px 2px;
    background: #f1f5f9;
    /* light gray/blue */
    border-radius: 5px;
    border: 1px solid #d1d5db;
    margin-left: 4px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.attachment-badge:hover {
    background: #e2e8f0;
    /* hover slightly darker */
    border-color: #94a3b8;
}

.attachment-badge a {
    text-decoration: none !important;
    color: #1c2765 !important;
    /* blue */
    font-weight: 500;
}

.attachment-icon {
    font-size: 12px;
    opacity: 0.7;
}

.pagination .page-item.active .page-link {
  background-color: #1c2765;
  border-color: #1c2765;
  color: #fff;
  border-radius: 4px;
}

.pagination .page-link {
  background-color: #1c2765;
  color: white;
}

@media print {
    body {
        margin: 0;
        padding-bottom: 150px;
        /* space so content doesn't overlap footer */
    }

    .print-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block !important;
        z-index: 9999;
    }

    /* Avoid cutting tables across pages */
    table,
    tr,
    td,
    th {
        page-break-inside: avoid;
    }

    /* Optional: hide scrollbars/margins */
    @page {
        margin-bottom: 150px;
        /* match the bottom padding */
    }
}