@media (max-width: 576px) {
  #searchInput {
    width: 120px !important;
  }

  #inputPassword {
    width: 150px !important;
  }

   [data-navigation-type=horizontal] .navbar-top.navbar-expand-lg~.content, [data-navigation-type=dual] .navbar-top.navbar-expand-lg~.content, [data-navigation-type=combo] .navbar-top.navbar-expand-lg~.content {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }

  .form-select {
    width: 100px !important;
  }
}

label {
  text-align: left;
  display: block;
}

@media (min-width: 992px) {
    [data-navigation-type=horizontal] .navbar-top.navbar-expand-lg~.content, [data-navigation-type=dual] .navbar-top.navbar-expand-lg~.content, [data-navigation-type=combo] .navbar-top.navbar-expand-lg~.content {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
}