.navbar-nav .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-item.active {
  background-color: #1c2765 !important; /* dark blue */
  color: #fff !important;
  font-weight: 500;
}


.summary-row {
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem 0;
}

.summary-label {
  font-weight: 700;
  text-transform: uppercase;
}

.summary-value {
  font-weight: 700;
}